@media screen and (max-width: 768px){
	.sameservice{
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 480px){
	.banner h2{
		font-size: 50px;
	}
	.banner p{
		font-size: 25px;
	}
	.button{
		font-size: 15px;
	}
}
@media screen and (max-width: 320px){
	.ourportfolio h2{
		font-size: 25px;
	}
	.button{
		font-size: 9px;
	}
}